

  <div class="container mx-auto px-4 h-full">
    
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
          
           
            
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold block">
                <section class="relative flex justify-center bg-no-repeat bg-full">
                    <div class="text-center">
                        <a href="#" class="mb-6 text-2xl font-semibold text-gray-900 dark:text-white flex items-center justify-center">
                            <img class="w-8 h-8 mr-2"  src="assets/img/lekki.jpg" alt="logo">
                              
                        </a>
                    </div>
                </section>
             
              <small>sign in with credentials</small>
              <hr class="mt-6 border-b-1 border-blueGray-300" />
            </div>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5"[formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                    <input type="email"  formControlName="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                    
                </div>
               
                <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Reset password</button>
            </form>
          </div>
        </div>
        <div class="flex flex-wrap mt-6 relative">
          <div class="w-1/2">
            <a [routerLink]="['/auth/login']" class="text-blueGray-200">
              <small>Login?</small>
            </a>
          </div>
          <div class="w-1/2 text-right">
            <a [routerLink]="['/auth/register']" class="text-blueGray-200">
              <small>Create new account</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  