<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light">
          <thead
            class="border-b bg-blue-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
            <tr>
              <th scope="col" class=" px-6 py-4">UHID</th>
              <th scope="col" class=" px-6 py-4">Patient Name</th>
              <th scope="col" class=" px-6 py-4">Ward</th>
              <th scope="col" class=" px-6 py-4">Room</th>
            </tr>
          </thead>
          <tbody>
           
            <tr class="border-b dark:border-neutral-500"  *ngFor="let req of _requests">
              <td class="whitespace-nowrap  px-6 py-4 font-medium">{{req.patient?.uhid}}</td>
              <td class="whitespace-nowrap  px-6 py-4">{{req.patient?.first_Name}}  {{req.patient?.last_Name}}</td>
              <td class="whitespace-nowrap  px-6 py-4">{{req.patient?.wardName}}</td>
              <td class="whitespace-nowrap  px-6 py-4">{{req.patient?.roomNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



