<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            
            
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>sign in with credentials</small>
              <hr class="mt-6 border-b-1 border-blueGray-300" />
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="relative w-full mb-3">
                <label for="email"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-email"
                >
                  Email
                </label>
                <input
                  type="email" formControlName="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>--><br>
                <span class="text-danger" *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.hasError('required')">*Email address is required</span>
                <span class="text-danger" *ngIf="loginForm.hasError('email','email')">*Email is Invalid</span>
              </div>
  
              <div class="relative w-full mb-3">
                <label for="password"
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Password
                </label>
                <input
                  type="password" formControlName="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password"
                />
                <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
              </div>
              <div>
                <label for="rememberMe" class="inline-flex items-center cursor-pointer">
                  <input
                    id="customCheckLogin"
                    type="checkbox"
                    class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                    formControlName="rememberMe"
                  />
                  <span class="ml-2 text-sm font-semibold text-blueGray-600">
                    Remember me
                  </span>
                </label>
              </div>

              
                  <!-- Display unauthorized message -->
            <div *ngIf="unauthorizedMessage" class="text-red-600 text-center mb-3">
              {{ unauthorizedMessage }}
            </div>
  
              <div class="text-center mt-6">
                <button [disabled]="!loginForm.valid"
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="submit"
                >
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="flex flex-wrap mt-6 relative">
          <div class="w-1/2">
            <a [routerLink]="['/auth/forgot-password']" class="text-blueGray-200">
              <small>Forgot password?</small>
            </a>
          </div>
          <div class="w-1/2 text-right">
            <a [routerLink]="['/auth/register']" class="text-blueGray-200">
              <small>Create new account</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  