<form novalidate (ngSubmit)="save()" [formGroup]="firstFormGroup" class="mat-form">
    <ng-template matStepLabel>Introduction</ng-template>
    <div class="flex flex-wrap -mx-3 mb-3">
      <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
          FirstName
        </label>
        <input
          type="text" formControlName="fname"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="First Name"
        />
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
          LastName
        </label>
        <input
          type="text" formControlName="lname"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-3">
      <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
          Locum Type
        </label>
        <input
          type="text" formControlName="ltype"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="LocumType"
        />
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
          Department
        </label>
        <input
          type="text" formControlName="dprtmt"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Department"
        />
      </div>
    </div>
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Phone Number
      </label>
      <input
        type="text" formControlName="pnumber"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Phone Number"
      />
    </div>
    


    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Email
      </label>
      <input
        type="email" formControlName="email"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Email"
      />
    </div>

    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Password
      </label>
      <input
        type="password" formControlName="password"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Password"
      />
    </div>
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Confirm Password
      </label>
      <input
        type="password" formControlName="confirmPassword"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        placeholder="Password"
      />
    </div>

   

    <div class="text-center mt-6">
      <button [disabled]="!firstFormGroup.valid"
        class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
        type="button" mat-button matStepperNext
      >
        Next
      </button>
    </div>
</form>